@font-face {
  font-family: "TT Rounds Neue Variable";
  src:
    url("./TT Rounds Neue Trial Variable_0.ttf") format("truetype-variations"),
    url("./TT Rounds Neue Trial Variable_0.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
