.login_page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 16px;
}

.back_link {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.title {
  font-family: var(--font);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
  color: var(--font-color);
}

.input_form {
  width: 100%;
}

.button_submit {
  width: 100%;
}

.link {
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--font);
  font-size: var(--font-size-support);
  font-weight: var(--font-weight-support);
}

.error {
  font-family: var(--font);
  font-size: var(--font-size-support);
  font-weight: var(--font-weight-support);
  color: var(--font-color-error);
}
