.body {
    background-color: var(--background-color-main);
}

.title {
    font-family: var(--font);
    font-weight: var(--font-weight-title);
    font-stretch: var(--font-width-main);
    font-size: var(--font-size-title);
}