:root {
  // Color
  --background-color-main: #f9e9e9;
  --bg-color-button-main: #faadad;
  --bg-color-button-secondary: #f9e9e9;
  --border-button: #737373;
  --border-error: #f50c0c;
  --bg-disabled: #c9b1bd;
  --bg-color-header: #eacaf5;
  --bg-color-icon-button: #ffffff;
  --bg-utility: #ffffff;

  // Font
  --font: "TT Rounds Neue Variable", sans-serif;
  --font-weight-main: 400;
  --font-weight-title: 800;
  --font-weight-support: 600;
  --font-width-main: 100;
  --font-width-support: 50;
  --font-size-main: 16px;
  --font-size-title: 36px;
  --font-size-h2: 24px;
  --font-size-support: 11px;
  --font-color: #000000;
  --font-color-error: #f50c0c;
  --font-color-success: #52c41a;
}
