:root {
    // Color
    --background-color-main: #F9E9E9;
    --bg-color-button-main: #FAADAD;
    --bg-color-button-secondary: #F9E9E9;
    --border-button: #737373;
    --border-error: #F50C0C;
    --bg-disabled: #C9B1BD;
    --bg-color-header: #EACAF5;
    --bg-color-icon-button: #FFFFFF;
    --bg-utility: #FFFFFF;

    // Font
    --font: 'TT Rounds Neue Variable', sans-serif;
    --font-weight-main: 400;
    --font-weight-title: 800;
    --font-weight-support: 600;
    --font-width-main: 100;
    --font-width-support: 50;
    --font-size-main: 16px;
    --font-size-title: 36px;
    --font-size-h2: 24px;
    --font-size-support: 11px;
    --font-color: #000000;
    --font-color-error: #F50C0C;
    --font-color-success: #52c41a;
}